{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        cprop/cprop {:mvn/version "0.1.18"}
        metosin/reitit {:mvn/version "0.5.13"}
        metosin/reitit-ring {:mvn/version "0.5.13"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        com.cognitect/http-client {:mvn/version "0.1.106"}}
 :aliases
 {:ion-dev
  {:extra-deps {com.datomic/ion-dev {:mvn/version "0.9.290"}}
   :main-opts ["-m" "datomic.ion.dev"]}

  :dev {:extra-paths ["dev"]
        :extra-deps {com.datomic/dev-local {:mvn/version "0.9.235"}
                     org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
  :run-m {:main-opts ["-m" "blasterai.datomic-demo"]}
  :run-x {:ns-default blasterai.datomic-demo
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "datomic-demo.jar"
                        :main-class "blasterai.datomic-demo"
                        :sync-pom true}}}}
