{:allow [datomic.ion.demo.db/conn]
 :lambdas {:all-events
           {:fn datomic.ion.demo.lambdas/all-events
            :description "get all events from db"
            }}
 :app-name "demo-project"
 }
